[Desktop Entry]
Name=Hack-a-Day [Chromium]
Exec=chromium-browser --kiosk --enable-features=OverlayScrollbar,OverlayScrollbarFlashAfterAnyScrollUpdate,OverlayScrollbarFlashWhenMouseEnter www.hackaday.com
Comment=
Terminal=false
Icon=gnome-panel-launcher
Type=Application
